# AI Metadata & Local Database
.code-review-graph/
.agent/
.claude/
AGENTS.md
GEMINI.md

# IoT / ESP32
.pio/
.vscode/

# Backend (Golang)
backend/.env*
!backend/.env.example
backend/tmp/
backend/bin/
*.exe

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/.env*
!frontend/.env.example
node_modules/

# OS Files
.DS_Store
Thumbs.db

p.md
docs/
